@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Mukta:wght@500&family=Quicksand:wght@500&family=Raleway:wght@500&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Plus+Jakarta+Sans:wght@800&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root{
  height:100%;
}

.App{
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  padding: 0 ;
  margin: 0;
}

/* NAVBAR */


.brand {
  display:inline-block;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  /* line-height: 29px; */
  text-shadow: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(127, 209, 253) 0%,
    rgb(127, 209, 253) 50%,
    rgba(49, 96, 208, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width:fit-content;
}

.brand::first-letter {
  color: #364a7a;
}

.navbar {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(141, 139, 139, 0.46);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.navbar-nav{
  align-items: flex-end;
}

.navbar > .container {
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.navLink {
  /* align-self: flex-end; */
  position: relative;
  white-space: nowrap;
  /* overflow: hidden; */
  padding-left: 0% !important;
  padding-right: 0% !important;
  margin-right: var(--bs-navbar-nav-link-padding-x);
  margin-left: var(--bs-navbar-nav-link-padding-x);
  color:inherit;
  padding: top 0, bottom 0;
}

a {
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}


a:hover {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

.navLink::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 2rem);
  top: -moz-calc(100% + 2rem);
  top: -webkit-calc(100% + 2rem);
  height: 3px;
  width: 0%;
  background: #3160d0;
  border-radius: 12px;
  transition: 0.3s ease-out;
}

.navLink:hover::after {
  width: 100%;
}


.navLink.active::after{
  width:100%;
}

.navbar-collapse{
  align-items: flex-end;
}

#collapsible-nav-dropdown {
  background-color: transparent;
  border: none;
}

#collapsible-nav-dropdown:focus {
  box-shadow: none;
}

#collapsible-nav-dropdown::after {
  content: none;
}

.no-collapse{
  gap:1rem;
}


#langIcons > * {
  margin-right: 0rem;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu.show {
  min-width: fit-content;
  text-align: center;
  align-self: center;
  border: none;
  box-shadow: 0px 0px 8px #3160d0;
  left:unset;
}

.vr {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* NAVBAR */

.MuiBreadcrumbs-ol{
  padding-left: 2rem!important;
}

/* LOADING */

.central-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}



@keyframes ldio-nnrk0kfiqbi-r {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-nnrk0kfiqbi-s {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: translate(-38.1px, -38.1px) scale(0);
  }
  50% {
    transform: translate(-38.1px, -38.1px) scale(1);
  }
  100% {
    transform: translate(-38.1px, -38.1px) scale(0);
  }
}
.ldio-nnrk0kfiqbi > div {
  transform: translate(0px, -19.05px);
}
.ldio-nnrk0kfiqbi > div > div {
  animation: ldio-nnrk0kfiqbi-r 1.0526315789473684s linear infinite;
  transform-origin: 127px 127px;
}
.ldio-nnrk0kfiqbi > div > div > div {
  position: absolute;
  transform: translate(127px, 104.14px);
}
.ldio-nnrk0kfiqbi > div > div > div > div {
  width: 76.2px;
  height: 76.2px;
  border-radius: 50%;
  background: #6acaff;
  animation: ldio-nnrk0kfiqbi-s 1.0526315789473684s linear infinite;
}
.ldio-nnrk0kfiqbi > div > div:last-child {
  animation-delay: -0.5263157894736842s;
}
.ldio-nnrk0kfiqbi > div > div:last-child > div > div {
  animation-delay: -0.5263157894736842s;
  background: #3160d0;
}
.loadingio-spinner-interwind-my24hhwvlb {
  width: 254px;
  height: 254px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-nnrk0kfiqbi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-nnrk0kfiqbi div {
  box-sizing: content-box;
}

/* LOADING */

.searchResult {
  background-color: rgb(172, 132, 209);
  overflow: hidden;
  overflow-y: auto;
  max-height: 10rem;
  position: fixed;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.searchResult.searchItem {
  display: flex;
  align-items: center;
  color: black;
}

.css-i4bv87-MuiSvgIcon-root {
  color: black;
  margin-right: 0.4rem;
}


/* FOOTER */
.footer{
  
  margin-top: auto;
  padding-left:3rem;
  padding-right:3rem;
  width:100%;
  border-top: 1px solid rgba(96, 92, 92, 0.46);

}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  padding:2rem;
  text-align: center;
}


.footer-row{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}



#social li{
  display: inline-block;
  color: #B2BAC2;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

.footer li{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #3E5060;
  margin-top:0.7rem;
}

#footer-second-row{
  color: #B2BAC2;
}

.footer hr{
  width:100%;
  color:rgba(96, 92, 92, 0.46);
  height:5px;
}


.footer-heading{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  color: #1A2027;
  margin-bottom:0.5rem;
  margin-top:1.5rem;
}



/* FOOTER */



/* SECTION 1 */

.brand#introBrand{
  font-size:4rem;
}

.gray-paragraph{
  width:60%;
}


/* SECTION 1 */








@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar .vr {
    display: none;
  }

  .no-collapse {
    display: flex;
    flex-direction: row;
  }

  .no-collapse .nav-link {
    margin-right: 0.5rem;
  }

  .me-auto,
  .no-collapse {
    font-size: 1rem;
    align-items: center;
  }

  .me-auto{
    gap:1.5rem;
    margin-right: 0!important;
  }

  #langIcons{
    font-size: 1rem;
  }

  .navLink::after {
    content: none;
  }

  .navbar-toggler {
    border: none;
    order: 1;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler:active {
    box-shadow: 0px 0px 8px #3160d0;
  }

  .navbar-collapse {
    display:flex;
    flex-direction: column;
    align-items: center;
    order: 4;
    margin-top: 1rem;
    gap:1.5rem;
    padding:1rem;
  }

  .navbar-brand {
    order: 2;
  }

  .no-collapse {
    flex:unset;
    order: 3;
  }


  .section-two-row{
    flex-direction: column;
  }

  .section-two-col{
    align-items:center;
  }
}


@media only screen and (max-width:700px){
  .section-row{
    flex-direction: column;
  }

  .description-paragraph{
    width: 100%!important;
  }

  .section-col{
    width: 100% !important;
    align-items: center;
  }
}



@media only screen and (max-width:600px){
    .footer{
      padding:0;
    }
}

@media only screen and (max-width:500px){

  .navbar{
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }
  .navbar-brand{
    order:1;
  }

  .no-collapse{
    order:2;
  }

  .navbar-toggler{
    order:3;
  }
  .footer-row{
    flex-direction: column;
    align-items: center;
  }
}


@media only screen and (max-width:480px){
  .footer.brandLink{
    font-size: 17px!important;
  }

  .footer-heading{
    font-size: 0.625rem;
  }

  .footer li{
    font-size: 0.75rem;
  }

  .footer-row{
    font-size: 0.75rem;    
  }

}

@media only screen and (max-width:425px){
  .navbar{
    padding:1rem;
  }
}




@media only screen and (max-width:635px){
    .footer-row{
      flex-direction: column;
      align-items:center;
      gap:2rem;
    }
}



.hide .MuiSvgIcon-root{
  display:none;
}

.noDisplay{
  display: none;
}

.errorMessage{
  display:block;
}
